<h3><%= @text[0] %></h3>

<%= simple_form_for @category,url: {action: @text[2]} do |f| %>
<class class="form-inputs">
  <%= f.input :name%>
</class>
  <button type="submit" class="btn btn-success">
    <span class="glyphicon <%= @text[1]%>"></span> <%= t('category.submit')%>
  </button>

  <%= f.error_notification class: 'alert alert-danger' %>
  <% if base_errors = @category.errors[:base].presence %>
    <div class="alert alert-danger">
      <% base_errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>
<% end %>