<%= dl_for @blog, :name, :subdomain %>

<%= link_to t('crud.edit'), [:edit, @blog] %> |
<%= link_to t('action.back'), Settings::Blog %>

<h2 class="bg-info"> 
<% @blog.categories.each do |c|%>
Cate:<%= c.name%>
<%end%>
</h2>

<hr>
<%= paginate @posts %>

<table class="table table-hover">
  <thead>
    <tr>
      <td><h1><%= Post.human_attribute_name(:title) %></h1></td>
      <td><%= gly_icon t('crud.new!',resource: Post.model_name.human),"pencil","btn btn-lg btn-success",new_settings_blog_post_path(@blog)%></td>
    </tr>
  </thead>
  <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td style="width:80%" class="list-group">
            <div >
              <%= link_to post_url(post,subdomain: @blog.subdomain),class: "list-group-item" do %>
                <h4 class="list-group-item-heading"><%= post.title%></h4>
                <p class="list-group-item-text">
                  <%= post.content.slice(1..100)%> ......
                  <br><%= t('crud.updated')%> : <%= post.updated_at%>
                  <br><%= t('crud.created')%> : <%= post.created_at%>
                </p>
              <%end%>
            </div> 
          </td>
          <td style="width:20%">
            <%= gly_icon t('crud.edit'),"edit","btn btn-primary btn-lg",edit_settings_blog_post_path(@blog,post)%>
            <%= gly_icon '',"trash","btn btn-danger btn-lg",[@blog,post],method: :delete, data: {confirm: t('message.are_you_sure')}%>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>


<%= paginate @posts %>