<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
      <h1>
        <%= @blog.name %>
        <%= link_to (image_tag "rss.png",size:"50x20",alt: "rss.tag"),rss_path%>
      </h1>      
    </div><!--col-sm-->
    <div class="col-sm-2">
      <div>
        <%= link_to t('blog.manage'),settings_blog_url(@blog),class: "btn btn-block btn-primary"%>
        <%= link_to t('blog.about'),profile_path,class: "btn btn-block btn-warning"%>
      </div>
    </div><!--col-sm-->
  </div><!--row-->

</div>

<div class="row">
  <div class="col-sm-9">
    <% @posts.each do |post| %>
      <div class="page-header">
        <h3><%= link_to post.title, post_path(post) %></h3>
      </div>
      <div class="highlight">
        <%= sanitize LagdownRenderer.render(post.content) %>
      </div>
    <% end %>
  </div><!--col-sm-->
    
  <div class="col-sm-3">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fck101beauty&amp;width&amp;height=290&amp;colorscheme=dark&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>
    <p></p>
    <iframe src="https://www.google.com.tw/maps/embed?pb=!1m18!1m12!1m3!1d1807.3821587436653!2d121.52549196316217!3d25.042071125598266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x58e05f2528812097!2z5ZyL56uL6Ie65YyX5ZWG5qWt5oqA6KGT5a246Zmi!5e0!3m2!1szh-TW!2stw!4v1399966322715" width="140%" height="300" frameborder="1" style="border-style:groove;border-width:9px">
    </iframe>
    <p></p>
    <iframe width="140%" height="315" src="//www.youtube.com/embed/00DyEDmQ83s?list=PLPv96SVEnDc0QIhZ-xaOABR0mjntrF9t2" frameborder="0" allowfullscreen>
    </iframe>
  </div><!--col-sm-->
  <div><!--row-->

</div><!--pageheader-->
<%= paginate @posts %>

<%= mathjax_script_tag %>