<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
      <h1>
        <%= @blog.name %>
        <%= link_to (image_tag "rss.png",size:"50x20",alt: "rss.tag"),rss_path%>
      </h1>    

    </div><!--col-sm-->
    <div class="col-sm-2">
      <div>
        <%= link_to t('blog.manage'),settings_blog_url(@blog),class: "btn btn-block btn-primary"%>
        <%= link_to t('blog.about'),profile_path,class: "btn btn-block btn-warning"%>
      </div>
    </div><!--col-sm-->
  </div><!--row-->

</div><!--page header-->

<div class="row">
  <div class="col-sm-9">
    <% @posts.each do |post| %>
      <div class="page-header">
        <blockquote style="border-color: #FFB840">
          <h3><%= link_to post.title, post_path(post) %></h3>
          <footer>
            <span class="glyphicon glyphicon-search">【<%= Category.where(id:post.category_id).pluck(:name).first%>】【<%= t('post.view_count')%>：<%= post.view_count%>】
            </span>
            <p>
            【<%= t('crud.updated')%> : <%= post.updated_at%>】
            【<%= t('crud.created')%> : <%= post.created_at%>】        
            </p>    
          </footer>
        </blockquote>
      </div>
      <div class="highlight">
        <%= sanitize LagdownRenderer.render(post.content) %>
      </div>
    <% end %>
  </div><!--col-sm-->    
<div><!--row-->

<div><!--row-->

<%= paginate @posts %>

<%= mathjax_script_tag %>