<div class="page-header">
  <h1>
    <%= @blog.name %>
    <a href="<%= rss_path%>">
      <%= image_tag "rss.png",size:"50x20",alt: "rss.tag"%>
    </a>
  </h1>

</div>
<% @posts.each do |post| %>
  <div class="page-header">
    <h2><%= link_to post.title, post_path(post) %></h2>
  </div>
  <div class="highlight">
    <%= sanitize LagdownRenderer.render(post.content) %>
  </div>
<% end %>


<%= paginate @posts %>

<%= mathjax_script_tag %>