<%= simple_form_for(@admin_blog, bootstrap_form_options(form_class: 'form-horizontal')) do |f| %>
  <%= f.error_notification class: 'alert alert-danger' %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :subdomain %>
    <%= f.association :user, as: :string, input_html: {class: 'select2-single', data: {model: :User, column: :email, text: @admin_blog.user.try(:email).to_s}} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
