<div class="row">
  <div class="col-sm-6">
    <%= simple_form_for [@blog, @post], **bootstrap_form_options(form_class: 'form-horizontal') do |f| %>
      <%= f.input :title %>
      <div id="editor" data-target="#post_content"></div>
      <%= f.input :content, as: :hidden %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= button_tag t('.preview'), type: :button, id: :preview_btn %>
    <div id="preview_area"></div>
  </div>
</div>